
    <div class="title">
        <h1>Crime Pridiction</h1>
    </div>
    <div class="topnav">
        <a class="active" href="D:\Mini Project\Crime prediction\Admin\Home.html">Home</a>
        <a href="D:\Mini Project\Crime prediction\Admin\manage_officer.html">Manage Officer</a>
        <a href="D:\Mini Project\Crime prediction\Admin\mange_case.html">Manage Case</a>
        <a href="D:\Mini Project\Crime prediction\Admin\graph.html">Graph</a>
        <a  routerLink="../login">Logout</a>
        <input type="text" placeholder="Search..">
      </div> 
      <div class="hero">
        
      </div>   


